<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>

    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/style/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style/main.css}" />
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

</head>

<body>
<div class="headerBar">
    <div class="topBar">
        <div class="comWidth">
            <div class="leftArea">
                <a href="#" class="collection">收藏慕课</a>
            </div>
            <div th:if ="${user} == null">
                <div class="rightArea">
                    欢迎来到慕课网！<a href="#">[登入]</a> <a href="#">[免费注册]</a>
                </div>
            </div>
            <div th:if ="${user} != null">
                <div class="rightArea">
                    欢迎来到慕课网！<a href="#"><td th:text="${user.nickname}"></td></a>
                    <a href="#">我的订单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="logoBar">
        <div class="comWidth">
            <div class="logo fl">
                <a href="#"><img th:src="@{/images/icon/慕课网.png}" alt="慕课网"  /></a>
            </div>
            <div class="search_box fl">
                <input type="text" class="search_text fl" />
            </div>
            <div class="shopCar fr">
                <button class="btn btn-primary btn-warning">搜索</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-default">
                <div class="panel-heading">秒杀商品列表</div>
                    <table class="table" id="goodslist">
                        <tr>
                            <td>商品名称</td>
                            <td>商品图片</td>
                            <td>商品原价</td>
                            <td>秒杀价</td>
                            <td>库存数量</td>
                            <td>详情</td>
                        </tr>
                        <tr  th:each="goods,goodsStat : ${goodsList}">
                            <td th:text="${goods.goodsName}"></td>
                            <td ><img th:src="@{${goods.goodsImg}}" width="100" height="100" /></td>
                            <td th:text="${goods.goodsPrice}"></td>
                            <td th:text="${goods.miaoshaPrice}"></td>
                            <td th:text="${goods.stockCount}"></td>
                            <td><a th:href="'/goods_detail.htm?goodsId='+${goods.id}">详情</a></td>
                        </tr>
                    </table>
                </div>
        </div>
    <div class="col-md-2"></div>
</div>
<div class="footer">
    <p><a href="#">慕课简介</a><i>|</i><a href="#">慕课公告</a><i>|</i><a href="#">招纳贤士</a><i>|</i><a href="#">联系我们</a><i>|</i>客服热线：400-675-1234</p>
    <p>Copyright&copy;2006 - 2014 慕课版权所有&nbsp;&nbsp;&nbsp;京ICP备09037834号&nbsp;&nbsp;&nbsp;京ICP证B1034-8373号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号：123456789123</p>

    <p class="web"><a href="#"><img th:src="@{/images/footer.gif}" alt="logo"  /></a><a href="#"><img th:src="@{/images/footer.gif}"  /></a><a href="#"><img th:src="@{/images/footer.gif}"  /></a><a href="#"><img th:src="@{/images/footer.gif}"  /></a></p>
</div>
</body>
</html>
